<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
	
		<div th:object="${transaction}">
			<h1 th:text="*{type == 'C' ? 'Transaction ID: ' + id + ' (Credit)' : 'Transaction ID: ' + id + ' (Debit)'}"></h1>
			
			<p>Date: [[*{date}]]</p>
			<p th:text="*{type == 'C' ? 'Amount: -' + amount : 'Amount: ' + amount}"></p>
			<p>Description: [[*{retailer}]]</p>
			<a th:href="@{/transactions}">Back</a>
		</div>
		
	</body>
</html>